<app-nav-bar></app-nav-bar>
<h2 class="title">Register</h2>

<div>
  <form  class="logInContainer" [formGroup]="ResgistrationForm"(ngSubmit)="onSubmit()">
    <input class="form-control" type="text" placeholder="Name: "formControlName="userName"  />
    <input class="form-control" type="email" placeholder="Email: " formControlName="useremail"/>
    <input class="form-control" type="password" placeholder="Password: " formControlName="password"/>
    <input class="form-control" type="password" placeholder="Confirm password: "  />
  
    <div class="rememberMeContainer">
      <div class="rememberContainer">
        <input type="checkbox" name="remember" id="remember"  formControlName="rememberMe"/>
        <label for="remember">Remember me</label>
      
        </div>
        <a routerLink="/login">Already have account?</a>
    </div>
    
    
    <button class="btn btn-dark" type="submit">Register</button>
  </form>
</div>

  
