.cartBody{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height:85vh;
}
.productList{
   padding: 2rem;
    width: 70%;
    overflow-y: scroll;
    height: 80vh;
}
.promoCodeContainer{
    margin-top: 6rem;
    margin-bottom: 1rem;
    width: 100%;
   
}

.productContainer{
    padding: 2rem;
    border-top: 1px solid rgba(90, 90, 90, 0.378);
    border-bottom: 1px solid rgba(90, 90, 90, 0.378);
}
.productContainer img{
    width: 8rem;
   
}
.product-name{
    font-weight: 600;
}
.productDetails{
    display: flex;
    flex-direction: column;
}

.quantityBtn{
    background: rgb(27, 27, 27);
    border: none;
    padding:0.2rem 1rem;
}
.quantityButtonsContainer{
    width: 12rem;
    margin-top: 1rem;
}


.productComandAndInfoContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.priceAndSubmitContainer{
   
    padding-left: 1rem;
    border-left: 1px solid rgba(90, 90, 90, 0.378);
}

.bill-info{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}
.price{
    font-size: 1.2rem;
    font-weight: 600;
}

.bill-title{
    font-size: 1rem;
    color: grey;
}

