<app-nav-bar></app-nav-bar>
<div class="cartBody">
    <div class="productList">
        <h1 style="text-align: center; margin-bottom: 1rem;">My Cart</h1>

        <div *ngIf="!productsList.length " class="div"><h1>No itmes in the cart</h1></div>
        <ng-container  *ngIf="productsList.length " >
           
            <div  class="productContainer" *ngFor="let product of productsList ;">
                <div class="productComandAndInfoContainer">
                    <div class="productDetails">
                        <img src={{product.image}} alt="">
                        <span class="product-name">{{product.title}}</span>
                        <span >price: <span class="product-name">{{product.price}}</span></span>
                        <span><i style="color: gold;" class="fa-solid fa-star"></i> {{product.rating}}<span></span></span>
                        <span>Quantity :<span class="product-name"> {{product.rating[1]}}</span></span>
                        <div class="quantityButtonsContainer">
                            <button (click)="addProductPrice(product.id)" class="quantityBtn"><i style="color: white;" class="fa-solid fa-add"></i></button>
                            <input  style="width: 25%; text-align: center;" type="number">
                            <button (click)="removeProductPrice(product.id)" class="quantityBtn"><i style="color: white;" class="fa-solid fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="commandsContainer" (click)="removeProduct(product.id)">
                        <span><i style="color: red;" class="fa-solid fa-times"></i> Remove Product</span>
                    </div>
                </div>
                
            </div>
        </ng-container>
        
    </div>
    <div class="priceAndSubmitContainer">
            <div class="promoCodeContainer ">
                <h6>Use promo code</h6>
                <form class="form-group d-flex">
                    <input class="form-control rounded-right m-0" type="text" name="" id="" placeholder="enter promo code here">
                    <button class="btn btn-dark m-0 w-75 rounded-left" type="submit">Use Promo Code</button>
                </form>
            </div>
            <div class="payContainer">
                <div class="bill-info">
                    <span class="bill-title">Items Price: </span>
                    <h6 class="price">{{itemsPrice}} LE</h6>
                </div>
                <div class="bill-info">
                    <span class="bill-title">Deleviry Fees: </span>
                    <h6 class="price">{{delivaryPrice}} LE</h6>
                </div>
                <div class="bill-info">
                    <span class="bill-title">Discount value: </span>
                    <h6 class="price">{{discountValue}} LE</h6>
                </div>
                <hr>
                <div class="bill-info">
                    <span class="bill-title">Total: </span>
                    <h6 class="price">{{totalPrice}} LE</h6>
                </div>
                
            </div>
    </div>

</div>
